/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define QWERTY 0
#define NUM 1
#define SYM 2
#define ARROWS 3
#define MEDIA 4
#define NAV 5

/ {
    behaviors {
        caps_ext: caps_word_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPS_WORD_LAYER_TAP";
            bindings = <&mo>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        left {
            bindings = <&kp LEFT>;
            key-positions = <17 16>;
        };

        right {
            bindings = <&kp RIGHT>;
            key-positions = <17 18>;
        };

        up {
            bindings = <&kp UP>;
            key-positions = <7 17>;
        };

        down {
            bindings = <&kp DOWN>;
            key-positions = <17 27>;
        };

        pgup {
            bindings = <&kp PG_UP>;
            key-positions = <8 9>;
        };

        pgdn {
            bindings = <&kp PG_DN>;
            key-positions = <18 19>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <7 8>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <28 29>;
        };

        numpad {
            bindings = <&tog 0>;
            key-positions = <16 17 18 19>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <22 21>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <22 23>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <23 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp W       &kp F          &kp P        &kp B       &kp J      &kp L            &kp U         &kp Y    &kp APOS
&kp A  &kp R       &kp S          &kp T        &kp G       &kp M      &kp N            &kp E         &kp I    &kp O
&kp Z  &kp X       &kp C          &kp D        &kp V       &kp K      &kp H            &kp COMMA     &kp DOT  &kp SLASH
       &kp C_MUTE  &caps_ext 1 0  &lt 2 SPACE  &sk LSHIFT  &kp ENTER  &lt 3 BACKSPACE  &lt 4 DELETE  &kp END
            >;

            label = "base";
            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        ext {
            bindings = <
&kp ESC    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &trans  &kp HOME   &kp UP    &kp END         &kp BACKSPACE
&sk LALT   &sk LGUI      &sk LSHIFT    &sk LCTRL     &bt BT_CLR_ALL  &trans  &kp LEFT   &kp DOWN  &kp RIGHT       &kp DEL
&kp LC(Z)  &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(SPACE)   &trans  &kp PG_UP  &kp TAB   &kp PG_DN       &kp ENTER
           &trans        &trans        &trans        &trans          &trans  &trans     &trans    &kp SCROLLLOCK
            >;

            label = "ext";
            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>,
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        num {
            label = "num";
            bindings = <
&kp ESC   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &kp EQUAL  &kp N7  &kp N8  &kp N9          &kp PLUS
&sk LALT  &sk LGUI      &sk LSHIFT    &sk LCTRL     &bt BT_CLR_ALL  &kp STAR   &kp N4  &kp N5  &kp N6          &kp MINUS
&tog 2    &kp C_MENU    &kp F2        &kp TAB       &kp LC(SPACE)   &kp N0     &kp N1  &kp N2  &kp N3          &kp SLASH
          &trans        &trans        &trans        &trans          &trans     &trans  &trans  &kp SCROLLLOCK
            >;

            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>,
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        sym {
            label = "sym";
            bindings = <
&kp EXCL  &kp AT    &kp POUND   &kp DLLR   &kp PRCNT  &kp EQUAL  &kp GRAVE  &kp COLON  &kp SEMI        &kp PLUS
&sk LALT  &sk LGUI  &sk LSHIFT  &sk LCTRL  &kp CARET  &kp STAR   &kp LPAR   &kp LBKT   &kp LBRC        &kp MINUS
&tog 3    &none     &kp BSLH    &kp PIPE   &kp AMPS   &kp TILDE  &kp RPAR   &kp RBKT   &kp RBRC        &kp UNDER
          &trans    &trans      &trans     &trans     &trans     &trans     &trans     &kp SCROLLLOCK
            >;

            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>,
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        fun {
            label = "fun";
            bindings = <
&kp C_STOP  &kp C_REWIND  &kp C_PP      &kp C_NEXT    &kp C_BRIGHTNESS_INC  &kp F12  &kp F7  &kp F8  &kp F9  &kp LSLCK
&sk LALT    &sk LGUI      &sk LSHIFT    &sk LCTRL     &kp C_BRIGHTNESS_DEC  &kp F11  &kp F4  &kp F5  &kp F6  &to 6
&tog 4      &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &bootloader           &kp F10  &kp F1  &kp F2  &kp F3  &to 0
            &trans        &trans        &trans        &trans                &trans   &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>,
                <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        mouse {
            label = "mouse";
            bindings = <
&kp LA(F4)  &kp LC(W)  &kp LA(LS(TAB))  &kp LA(TAB)  &none   &none     &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &msc SCRL_UP
&sk LALT    &sk LGUI   &sk LSHIFT       &sk LCTRL    &none   &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN
&tog 5      &none      &none            &none        &none   &none     &kp PG_UP       &kp TAB         &kp PG_DN        &kp SLCK
            &trans     &trans           &trans       &trans  &mkp MB3  &mkp MB1        &mkp MB2        &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>,
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        game {
            bindings = <
&kp ESC    &kp Q    &kp W      &kp E      &kp R  &kp T   &kp Y   &kp U   &kp I      &kp O
&kp LCTRL  &kp A    &kp S      &kp D      &kp F  &kp G   &kp H   &kp J   &kp K      &kp L
&kp LSHFT  &kp Z    &kp X      &kp C      &kp V  &kp B   &kp N   &kp M   &kp COMMA  &kp DOT
           &kp TAB  &kp LCTRL  &kp SPACE  &mo 7  &trans  &trans  &trans  &trans
            >;

            label = "game";
        };

        game-ext {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4     &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &trans  &trans  &kp ENTER  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp TAB    &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans
            >;

            label = "game-ext";
        };
    };
};
